<!-- course content will be here -->
<h1 id="watch-headline-title"><span id="eow-title" dir="ltr" title="Überlegungen zur Transformation von Öffentlichkeit durch das Social Web">Überlegungen zur Transformation von Öffentlichkeit durch das Social Web</span></h1>
<p><iframe width="560" height="315" src="//www.youtube.com/embed/47lY8nMbTxk?rel=0" frameborder="0" allowfullscreen></iframe></p>
<p>Referent: Dan Verständig (2013, CC-BY-NC 3.0 DE)</p>
<h2>Arbeitsaufgaben</h2>
<ol>
  <li>Skizzieren Sie in einem Kollaborativen Text-Tool ihrer Wahl die wichtigsten Punkte dieses Vortrags sowie Anschlusspunkte/ interessante weiterführende Fragen.</li>
</ol>
<p><em>Beispiel-Tools: Google Drive, Etherpad</em></p>