<!-- course content will be here -->
<h1>Willkommen!</h1>
<p>Hallo liebe Kurs-Teilnehmer_innen,</p>
<p>dieser kurze Kurs soll an Hand von Vorträgen und weiteren Materialien &quot;Öffentlichkeit&quot; im Zeitalter des Internets und Social Media diskutieren.</p>
<p>Viel Spaß beim gemeinsamen Arbeiten und Diskutieren!</p>
<p><em>Disclaimer: Dieser Kurs wurde für das Projekt &quot;OpenEoto&quot;  als Beispiel-Kurs erstellt, um zu zeigen, was mit dem Projekt-Ansatz umsetzbar ist. Dieser Kurs ist inhaltlich weit davon entfernt, ausgereift zu sein.</em></p>
<p>Lizenz: Die Arbeitsaufgaben sowie Einführungstexte sind, wenn nicht anders gekennzeichnet, unter <a href="https://creativecommons.org/licenses/by/3.0/de/">CC-BY 3.0 DE</a> lizenziert. Urheber: Matthias Andrasch.</p>
<h2>Einführung in den Öffentlichkeits-Begriff</h2>
<blockquote>
  <p>&quot;Was sollen denn die Leute denken, wenn du das hier in aller Öffentlichkeit machst?&quot;</p>
</blockquote>
<p style="text-align: center"><img src="../../media/volksversammlung.jpg" width="448" height="336" alt=""/><br>
<em>(Volksversammlung in der Schweiz, Foto: <a href="http://commons.wikimedia.org/wiki/File:Landsgemeinde_Glarus_2006.jpg">Adrian Sulc</a> - CC-BY-SA 3.0)</em></p>
<p style="text-align: left">Im Alltag hantieren wir oft mit dem Begriff &quot;Öffentlichkeit&quot;. Und es scheint klar zu sein, was wir damit meinen. Aber ist es wirklich so klar? Woran machen wir den Begriff fest? Gibt es nur eine Öffentlichkeit? Oder gleich mehrere?</p>
<p style="text-align: center"><img src="../../media/schuelerversammlung.jpg" width="450" alt=""/><br>
<em>(Foto: <a href="http://commons.wikimedia.org/wiki/File:Versammlung.jpg">Akolbe</a> - CC-BY-SA 3.0) </em></p>
<p> Und wenn ich etwas in Facebook poste für meine 200 Freunde - ist das dann privat oder schon öffentlich? Wo ziehen wir die Grenze?</p>
<p>Thomas Mura hat im <a href="http://www.leuphana.de/medienkulturwiki">MedienKulturWiki</a> einen Überblick über die wissenschaftliche Verwendung des Begriffs Öffentlichkeit erstellt:</p>
<p>Mura, Thomas (23.5.2008): Öffentlichkeit. In: MedienKulturWiki. Verfügbar über:<a href="http://www.leuphana.de/medienkulturwiki/medienkulturwiki2/index.php?oldid=651" title="http://www.leuphana.de/medienkulturwiki/medienkulturwiki2/index.php?oldid=651" rel="nofollow"> http://www.leuphana.de/medienkulturwiki/medienkulturwiki2/index.php?oldid=651</a> [Zugriff: 14.März.2014].</p>
<p>Bitte lesen Sie den Text, um einen Überblick zu erhalten.</p>
<h2>Arbeitsaufgabe</h2>
<p>Erstellen Sie gemeinsam mit einem MindMap- oder Grafik-Tool ihrer Wahl eine MindMap über die Gliederung des Öffentlichkeitsbegriffs und möglicher Autor_innen, die sich mit den verschiedenen Bereichen beschäftigen, bzw. beschäftigt haben.</p>
<p><em>Beispiel-Tools: <a href="http://www.mindmeister.com/de">MindMeister (Online)</a>, <a href="http://www.xmind.net/">XMind (Desktop)</a></em><a href="http://www.xmind.net/"></a></p>
<p>Gerne können weitere Quellen herangezogen werden!</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
