<!-- course content will be here -->
<h1>Strukturwandel der Öffentlichkeit</h1>
<p><iframe width="560" height="315" src="//www.youtube.com/embed/2R95QejB6vk?rel=0" frameborder="0" allowfullscreen></iframe></p>
<p>Referent: <a href="http://www.schmidtmitdete.de/">Dr. Jan Hinrik-Schmidt</a> (2013, CC-BY-SA 3.0 DE)</p>
<h2>Arbeitsaufgaben</h2>
<ol>
  <li>In welchem Bereich des Öffentlichkeitsbereichs befindet sich dieser Vortrag? (Bezogen auf die Einführung)</li>
  <li>Skizzieren Sie in einem Kollaborativen Text-Tool ihrer Wahl die wichtigsten Punkte dieses Vortrags sowie Anschlusspunkte/ interessante weiterführende Fragen.</li>
</ol>
<p><em>Beispiel-Tools: Google Drive, Etherpad</em></p>
